<h1>this is a signup page</h1>

<form action="/signup" method="POST">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up!</button>
</form>
