<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Road3p</title>
  </head>
  <body>
    <!-- This layout will be used by all pages, and the content will be filled in where the <%- body %> tag is placed.  -->
    <%- body %>
  </body>
</html>
