#logo {
  width: 20px;
}

.button-link {
  border: 1px solid black;
}

.button-link:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.box {
  width: 50%;
}

.post-image {
  width: 80% !important;
  height:250px !important;
}

#map {
  height: 500px;
  margin-top: 2%;
}

#ajax-post {
  margin-top: 2%;
}

.thumbnail {
  height: 488px;
}

.thumbnail-own {
  height: 575px !important;
}

.thumbnail-one {
  border: none !important;
}

/*.blah {
  background-image: url("post.image_url");
  background-image: ur
  background-size: contain;
}

style="background-image: url("' + post.image_url + '"); background-size: contain;"'*/
